# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
.angular
/packages/openapi-bench/generators/*/client
/packages/openapi-bench/generators/*/client-31
/packages/openapi-bench/results
